@charset "gb2312";
body,h1,h2,p,a,img,ul,li,dl,dt,dd{ margin:0; padding:0; border:none; list-style:none; text-decoration:none; font-weight:100; font-family:"微软雅黑";}

.clearfix:after {
visibility: hidden;
display: block;
font-size: 0;
content: " ";
clear: both;
height: 0;
}
.clearfix{*zoom:1;}
img{ vertical-align:middle;}

.por{position: relative;}
.poa{ position: absolute; }
.fl{float: left;}


.rq{width: 1000px;margin: 0 auto;}
.db{display: block;}
.tac{text-align: center;}
.taj{text-align: justify;}

/*字体颜色*/
.cl_huise{color: #313131;}
.cl_honse{color: #e60012;}
.cl_luse{color: #0a4403;}
.cl_huase{color: #fff100;}
.cl_baise{ color: #FFF;}

/*字体大小*/
.fz16{font-size: 16px;}	
.fz20{font-size: 20px;}	
.fz24{font-size: 24px;}	
.fz28{font-size: 28px;}
.fz30{font-size: 30px;}	
.fz36{font-size: 36px;}	
.fz40{font-size: 40px;}	
.fb{font-weight: bold;}
.ti2em{text-indent: 2em;}
.lh37{line-height: 37px;}
.lh30{line-height: 30px;}
.lh25{line-height: 25px;}

/*边框*/
.br_luse{border:1px solid #0a4403;}
.br_huise{border:1px solid #ccc;}


/*内间距*/
.pl10{padding-left: 10px;}		
.pr10{padding-right: 10px;}
.pl5{padding-left: 5px;}		
.pr5{padding-right: 5px;}
.pt5{padding-top: 5px;}		
.pb5{padding-bottom: 5px;}
.pt20{padding-top: 20px;}
.pb20{padding-bottom: 20px;}	
.pt40{padding-top: 40px;}
.pb40{padding-bottom: 40px;}

/*外边距*/
.mt40{margin-top: 40px;}
.mb40{margin-bottom: 40px;}
.mt20{margin-top: 20px;}
.mb20{margin-bottom: 20px;}
.mt17{margin-top: 17px;}
.mt10{margin-top: 10px;}
.mb10{margin-bottom: 10px;}


/*背景颜色*/
.bj_luse{background-color: #054d07;}
.bj_lanse{background-color: #bcddfe;}
.bj_luse2{background-color: #0a4403;}
.bj_huise{ background-color: #d8d8d8;}


.ggbj{ background:url(img/bj1.png); width:100%;}
.ggbj2{ background:url(img/bj2.png) #054d07;}
.banner{ background: url(img/banner.png) no-repeat top center; height:740px; width:100%;}
.bannera{ width: 170px; height: 170px; left: 413px; top: 538px; }

.box2a{ width:586px}
.box2b{ width:412px}

.prev-no-style2,.next-no-style2{ position:absolute;  bottom:40%;  z-index:999; background:#fff; border:none; font-size: 70px;}
.prev-no-style2{ left:0;}
.next-no-style2{ right:0;}

.prev-no-style3,.next-no-style3{ position:absolute;  bottom:22%;  z-index:999; background:#fff; border:none; font-size: 70px;}
.prev-no-style3{ left:0;}
.next-no-style3{ right:0;}

.box4a{ width:960px; margin:3px auto 0 auto; }
.carousel-no-style3{ background-color: #b2c7b3; padding:10px 0 10px 4px;}
.box4ul li{ margin:0 13px;}

.box6a{ background:url(img/box5.jpg) no-repeat top center; height: 592px; margin:0 auto; width: 962px;}
#box6a1{ position: absolute; width: 170px; height: 81px; left: 275px; top: 438px; cursor: pointer;}
#box6a1img{ position: absolute; left: 56px; top: -19px; display:none;}


#box7ul1{ width:556px;}
#box7ul1 li{ float:left; width:167px;  cursor: pointer; border:3px solid #ccc; margin:0 0 5px 5px}
#box7ul1 li.gaoliang{ border:3px solid #fff100}
#box7ul1 div{width:162px; margin:1px 0 0 6px; padding-top:8px; padding-bottom:7px;}


#box7ul2{ width:444px; background-color: #fff;}
#box7ul2 li{ display:none;}

.box7div1{width: 431px; margin:0 auto;}
.box7div1 h2{ width:80%; margin-left:auto; margin-right: auto;}

.box7div2{ width:444px;}

#box5ul1{ width:100%}
#box5ul1 li{ float:left; width: 50%;  cursor: pointer; text-align: center; background:#009004; font-size: 24px; color:#fff; padding:10px 0}
#box5ul1 li.gaoliang{  background-color: #004705; color:#fff100;}

#box5ul2 li{ display:none; background:#004705; width:100%;}




.jcl-demok{margin-left:48px;}
#jcl-demo .carousel { border: 1px solid #bababa; background-color: ghostwhite; float: left; padding-left: 10px; position: relative; visibility: hidden; left: -5000px;  }

#jcl-demo .carousel>ul>li>img { width: 200px; height: 88px; vertical-align: middle; /* optional */ margin: 10px 10px 10px 0;  }

#jcl-demo .carousel>ul>li>p { width: 200px; height: 88px; margin: 10px 10px 10px 0; border: 1px solid #808080; border-radius: 5px; line-height: normal; background-color: #fff; padding: 10px; }

#jcl-demo a.prev, #jcl-demo a.next, #jcl-demo a.go { display: block; width: 26px; height: 30px; line-height: 1; background-color: #333333; color: ghostwhite; text-decoration: none; font-family: Arial, sans-serif; font-size: 25px; border-radius: 8px; float: left; }
#jcl-demo a.prev.disabled, #jcl-demo a.next.disabled,  #jcl-demo a.prev.disabled:hover, #jcl-demo a.next.disabled:hover { background-color: #8d8d8d; cursor: default; }
#jcl-demo a.go.highlight { background-color: #dedede; color: #000; }
#jcl-demo a.prev { margin: 60px -5px 0 0; text-indent: 7px; }
#jcl-demo a.next { margin: 60px 0 0 -5px; text-indent: 10px; }
#jcl-demo a.prev:hover, #jcl-demo a.next:hover, #jcl-demo a.go:hover { background-color: #666666; }

#jcl-demo .externalControl button, #jcl-demo .imageSliderExt button { margin: 5px 5px 0 0; }
#jcl-demo .externalControl a.next, #jcl-demo .externalControl a.prev, #jcl-demo .externalControl a.go, #jcl-demo .imageSliderExt a.next, #jcl-demo .imageSliderExt a.prev, #jcl-demo .imageSliderExt a.go { margin: 0 5px 0 0; padding: 7px 5px 0 5px; font-size: 15px; text-align: center; border-radius: 3px; }
#jcl-demo .widget img { cursor: pointer; }
#jcl-demo .mid { width: 100%;text-align: center;  }
#jcl-demo .vertical { margin-left: 170px; }
#jcl-demo .imageSlider .carousel>ul>li>img, #jcl-demo .imageSliderExt .carousel>ul>li>img { width: 400px; height: 300px; }
#jcl-demo .imageSlider .carousel>ul>li>p, #jcl-demo .imageSliderExt .carousel>ul>li>p { width: 380px; height: 280px; }
.clear { clear: both; }

.box9a{ background:url(img/box8.png) no-repeat top center; height:763px;}
.box9b{ position: absolute; left: 438px; top: 38px; width: 501px; }

.ggann{ width:300px; margin:0 auto; padding:10px 20px; background-color: #fff100;border-radius: 10px; border:3px solid #fff; box-shadow: 0px 0px 20px #333;}
.dnbs{ box-shadow:none;}
