/*设置移动端默认样式*/
body{font-family:Helvetica;-webkit-overflow-scrolling:touch; margin:0;}
a,button,input,optgroup,select,textarea {-webkit-tap-highlight-color:rgba(0,0,0,0);}
a,img {-webkit-touch-callout: none;}
img{ max-width:100%;}
/*设置移动端默认样式end*/

/*为了方便计算html的值，所以初始化设置100px,对应的其他数值相当于除以100，在gulpfile文件的px3rem方法中设置。*/
html{font-size:100px;/*no*/}

.m,.pc{ min-width:320px; overflow:hidden; margin:0 auto;}
.m{max-width:640px;/*no*/}
.pc{max-width:1200px;}

.ggwzt{width:100%; height:110px;  background:#0080c7; position: relative;}
.ggwzt:after{ position: absolute; left:50px; bottom:-20px; content:" "; background:inherit; transform:rotate(45deg); width:40px;height: 40px;}
.gghst{width: 600px; background:#e23747; height: 73px; border-radius:16px;}

.box9a{width: 616px;}
.box9a img{width: 325px;height: 231px;}
.box9a_1{width: 291px;height: 231px;line-height:231px;}
.box9a_2{width: 225px; border-radius:50px;margin:4px auto;}
.box9a_3{width: 270px; }


/*字体颜色*/
.c-000{color: #000;}
.c-fff{color: #fff;}

/*字体大小*/
.fz40{font-size: 40px;}
.fz20{font-size: 20px;}
.fz38{font-size: 38px;}
.fz36{font-size: 36px;}
.fz24{font-size: 24px;}
.fz18{font-size: 18px;}

/*行高*/
.lh100{line-height:100%;}
.lh120{line-height:120%;}
.lh162{line-height:162%;}
.lh170{line-height:170%;}
.lh200{line-height:200%;}
.lh23{line-height: 23px;}

/*背景颜色*/
.bc-0080c7{background-color: #0080c7;}
.bc-e23747{background-color: #e23747;}

/*宽度*/
.w12 {width: 100%;}
.w11 {width: 91.66666667%;}
.w10 {width: 83.33333333%;}
.w9 {width: 75%;}
.w8 {width: 66.66666667%;}
.w7 {width: 58.33333333%;}
.w6 {width: 50%;}
.w5 {width: 41.66666667%;}
.w4 {width: 33.33333333%;}
.w3 {width: 25%;}
.w2 {width: 16.66666667%;}
.w1 {width: 8.33333333%;}

/*高度*/
.h{}

/*内边距*/
.pt60{padding-top: 60px;}
.pt36{padding-top: 36px;}
.pt26{padding-top: 26px;}
.pt20{padding-top: 20px;}
.pt17{padding-top: 17px;}
.pt15{padding-top: 15px;}
.pt10{padding-top: 10px;}

/*外边距*/
.mt60{margin-top: 60px;}
.mt40{margin-top: 40px;}
.mt36{margin-top: 36px;}
.mt10{margin-top: 10px;}
.mb10{margin-bottom: 10px;}
.mb7{margin-bottom: 7px;}

/*响应式栅格(移动优先)*/

/*m*/
[class*="col-"] {float: left;width: 100%;}
.row {width:100%;}
.col-m-12 {width: 100%;}
.col-m-11 {width: 91.66666667%;}
.col-m-10 {width: 83.33333333%;}
.col-m-9 {width: 75%;}
.col-m-8 {width: 66.66666667%;}
.col-m-7 {width: 58.33333333%;}
.col-m-6 {width: 50%;}
.col-m-5 {width: 41.66666667%;}
.col-m-4 {width: 33.33333333%;}
.col-m-3 {width: 25%;}
.col-m-2 {width: 16.66666667%;}
.col-m-1 {width: 8.33333333%;}

/*ipad*/
@media (min-width: 769px) {	
.col-p-12 {width: 100%;}
.col-p-11 {width: 91.66666667%;}
.col-p-10 {width: 83.33333333%;}
.col-p-9 {width: 75%;}
.col-p-8 {width: 66.66666667%;}
.col-p-7 {width: 58.33333333%;}
.col-p-6 {width: 50%;}
.col-p-5 {width: 41.66666667%;}
.col-p-4 {width: 33.33333333%;}
.col-p-3 {width: 25%;}
.col-p-2 {width: 16.66666667%;}
.col-p-1 {width: 8.33333333%;}
}

/*pc*/
@media (min-width: 1200px) {
.row {width:1200px;}
.col-12 {width: 100%;}
.col-11 {width: 91.66666667%;}
.col-10 {width: 83.33333333%;}
.col-9 {width: 75%;}
.col-8 {width: 66.66666667%;}
.col-7 {width: 58.33333333%;}
.col-6 {width: 50%;}
.col-5 {width: 41.66666667%;}
.col-4 {width: 33.33333333%;}
.col-3 {width: 25%;}
.col-2 {width: 16.66666667%;}
.col-1 {width: 8.33333333%;}
}
