
body,ul,li,a,img,h1,h2,p{ margin:0; padding:0; border:none; text-decoration:none; font-weight:100; list-style:none; font-family:"微软雅黑";}
.clearfix:after {visibility: hidden;display: block;font-size: 0;content: " ";clear: both;height: 0;}.clearfix{*zoom:1;}
img{ width:100%;}
.fwb{font-weight: bold;}
.lh200{line-height: 200%;}
.tac{text-align: center;}
.taj{text-align: justify;}

.mlra{margin-left: auto;margin-right: auto;}
.rq{max-width: 640px;min-width: 320px; }


/*背景色*/
.bc-lan{ background-color: #0077ae;}
.bc-bai{background-color: #fff;}

/*行高*/
.lh150{ line-height:150%;}
.lh200{ line-height:200%;}

/*字体大小*/
.fz40{font-size: 4rem;}
.fz30{font-size: 3rem;}
.fz24{font-size: 2.4rem;}
.fz20{font-size: 2rem;}

/*字体颜色*/
.cl-bai{color: #fff;}
.cl-lan{color: #0077ae;}

/*内边距*/
.pt20{padding-top: 3.125%;}
.pb20{padding-bottom: 3.125%;}

/*外边距*/
.mt20{margin-top: 3.125%;}
.mb20{margin-bottom: 3.125%;}

/*宽度*/
.w530{width: 80%;}
.w570{width: 90%;}
.w608{width: 94%;}
.ggzx{ border-radius:10px;}



.focus{ width:100%;  margin:0 auto; position:relative;}
.focus .hd{ width:100%; height:11px;  position:absolute; z-index:1; bottom:6px; text-align:center; }
.focus .hd ul{ display:inline-block; height:5px; padding:3px 5px; background-color:rgba(255,255,255,0.7); border-radius:5px; font-size:0; vertical-align:top;}
.focus .hd ul li{ display:inline-block; width:5px; height:5px; border-radius:5px; background:#ccc; margin:0 5px;  vertical-align:top; overflow:hidden;   }
.focus .hd ul .on{ background:#e75223;  }

.focus .bd{ position:relative; z-index:0; }
.focus .bd li img{ width:100%; }
.focus .bd li span{  display:block;  }