@charset "utf-8";
/* CSS Document */
body, h1, h2, h3, h4, h5, h6, hr, p,blockquote,dl, dt, dd, ul, ol, li,pre,
form, fieldset, legend, button, input, textarea,th, td,img{border:medium none;margin: 0;padding: 0;list-style-type: none;}
body,button, input, select, textarea {font: 12px/1.5 "msyhl422459","微软雅黑",Srial, Verdana, Geneva, sans-serif, tahoma, helvetica, sans-serif;}
h1, h2, h3, h4, h5, h6 { font-size: 100%;font-weight:normal; }
em{font-style:normal;}
ul, ol{ list-style: none; }
a { text-decoration: none; }
a:hover { text-decoration: none;  }
img{ border:0px;}
body{margin:0 auto;position:relative;min-width:1366px;}
input, img {vertical-align: middle;}
body,html{margin:0 auto;-moz-transition:all 0.3s ease-out 0s;-webkit-transition:all 0.3s ease-out 0s;transition:all 0.3s ease-out 0s;min-width:1366px;}
img {border:none;vertical-align:top;}
* {margin:0;padding:0;text-shadow:none;-moz-box-sizing:border-box;-webkit-box-sizing:border-box;box-sizing:border-box;}
.blank{height:8px;clear:both;}
.blank20{height:20px;clear:both;}
.clearfix:after,.clearfix:before{
	display:table;
	content:'';
	}
.clearfix:after{
	clear:both;
	overflow:hidden;
	}
.clearfix{
	*zoom:1;
	}
.relative {position:relative;}
.absolute {position:absolute;}
.fl {float:left;display:inline;}
.fr {float:right;display:inline;}
.pubW {width:1366px;margin:0 auto ;}
.center {margin:0 auto;}
.iBlock{display:inline-block;}
.bt {-moz-transition:background 0.3s linear 0s;-webkit-transition:background 0.3s linear 0s;transition:background 0.3s linear 0s;}
.ot {-moz-transition:opacity 0.3s linear 0s;-webkit-transition:opacity 0.3s linear 0s;transition:opacity 0.3s linear 0s;}
.translateXY {-moz-transform:translate(-50%,-50%);-ms-transform:translate(-50%,-50%);-o-transform:translate(-50%,-50%);-webkit-transform:translate(-50%,-50%);transform:translate(-50%,-50%);}
.translateY {-moz-transform:translateY(-50%);-ms-transform:translateY(-50%);-o-transform:translateY(-50%);-webkit-transform:translateY(-50%);transform:translateY(-50%);}
.translateX {-moz-transform:translateX(-50%);-ms-transform:translateX(-50%);-o-transform:translateX(-50%);-webkit-transform:translateX(-50%);transform:translateX(-50%);}
.contentBox {-moz-box-sizing:content-box;-ms-box-sizing:content-box;-o-box-sizing:content-box;-webkit-box-sizing:content-box;box-sizing:content-box;}
.borderBox {-moz-box-sizing:border-box;-ms-box-sizing:border-box;-o-box-sizing:border-box;-webkit-box-sizing:border-box;box-sizing:border-box;}

.tran {-moz-transition: all .3s linear 0s;-webkit-transition: all .3s linear 0s;transition: all .3s linear 0s;}
.tran:hover.tranlate{-moz-transform:translateY(-10px);-webkit-transform:translateY(-10px);transform:translateY(-10px);}
.tran:hover.box-shadow {-moz-box-shadow:0 10px 16px rgba(0,0,0,.5);-webkit-box-shadow:0 10px 16px rgba(0,0,0,.5);box-shadow:0 10px 16px rgba(0,0,0,.5);}


.sideBar {width:166px;position:fixed;left:0;top:0;bottom:0; background-color:#e4007f;z-index:10}
.sideBar .inner {width:156px;position:absolute;left:50%;top:50%;}
.sideBar h5 {font-size:24px;color:#fff;line-height:1.6;text-align:center;}
.times {width:148px;height:108px;margin:5px auto;}
.times .tag {font-size:24px;color:#fff;margin-top:72px; }
.times .days span {display:inline-block;width:55px;line-height:108px; background-color:#FFF;font-size:88px;color:#453a67;border-radius:10px;margin-right:7px;}
.sideBar h6 {font-size:13px;color:#fff;text-align:center;line-height:1.8;}
.sideBar .navs {width:132px;margin:12px auto 0;}
.sideBar .navs a{display:block;width:100%;font-size:18px;text-align:center;color:#1b1b1b; background-color:#FFF;line-height:38px;border-radius:3px;margin-bottom:12px;-moz-transition:all .3s linear 0s;-webkit-transition:all .3s linear 0s;transition:all .3s linear 0s;}
.sideBar .navs a:hover,.sideBar .navs a.active { background-color:#ffc42a;}
.homePage { background-color:#be0b4a !important;color:#fff !important;}
.homePage:hover { background-color:#be003b !important}

.footer {width:100%;height:116px;padding-top:32px; background-color:#000;}
.footer p {font-size:16px;color:#fff;text-align:center;line-height:1.4}
