@charset "gb2312";
/*base*/
body,h1,h2,p,a,img,ul,li,dl,dt,dd{ margin:0; padding:0; border:none; list-style:none; text-decoration:none; font-weight:100; font-family:"微软雅黑";}
.clearfix:after {visibility: hidden;display: block;font-size: 0;content: " ";clear: both;height: 0;}
.clearfix{*zoom:1;}
img{ vertical-align:middle;}

/*动画*/
.animated {  -webkit-animation-duration: 1s;  animation-duration: 1s;  -webkit-animation-fill-mode: both;  animation-fill-mode: both;}
.animated.infinite {  -webkit-animation-iteration-count: infinite;  animation-iteration-count: infinite;}
.animated0 {  animation-delay:.2s; -webkit-animation-delay:.2s;}
.animated1 {  animation-delay:.4s; -webkit-animation-delay:.4s;}
.animated2 {  animation-delay:.6s; -webkit-animation-delay:.6s;}
.animated3 {  animation-delay:.8s; -webkit-animation-delay:.8s;}
.animated4 {  animation-delay:1s;  -webkit-animation-delay:1s;}
.animated.bounceIn{  -webkit-animation-duration: .75s;  animation-duration: .75s;}

@-webkit-keyframes lightSpeedIn{from{-webkit-transform:translate3d(100%,0,0) skewX(-30deg);transform:translate3d(100%,0,0) skewX(-30deg);opacity:0}60%{-webkit-transform:skewX(20deg);transform:skewX(20deg);opacity:1}80%{-webkit-transform:skewX(-5deg);transform:skewX(-5deg);opacity:1}to{-webkit-transform:none;transform:none;opacity:1}}
@keyframes lightSpeedIn{from{-webkit-transform:translate3d(100%,0,0) skewX(-30deg);transform:translate3d(100%,0,0) skewX(-30deg);opacity:0}60%{-webkit-transform:skewX(20deg);transform:skewX(20deg);opacity:1}80%{-webkit-transform:skewX(-5deg);transform:skewX(-5deg);opacity:1}to{-webkit-transform:none;transform:none;opacity:1}}
.lightSpeedIn{  -webkit-animation-name: lightSpeedIn;  animation-name: lightSpeedIn;  -webkit-animation-timing-function: ease-out;  animation-timing-function: ease-out;}

@-webkit-keyframes bounceIn{from,20%,40%,60%,80%,to{-webkit-animation-timing-function:cubic-bezier(0.215,0.610,0.355,1.000);animation-timing-function:cubic-bezier(0.215,0.610,0.355,1.000)}0%{opacity:0;-webkit-transform:scale3d(.3,.3,.3);transform:scale3d(.3,.3,.3)}20%{-webkit-transform:scale3d(1.1,1.1,1.1);transform:scale3d(1.1,1.1,1.1)}40%{-webkit-transform:scale3d(.9,.9,.9);transform:scale3d(.9,.9,.9)}60%{opacity:1;-webkit-transform:scale3d(1.03,1.03,1.03);transform:scale3d(1.03,1.03,1.03)}80%{-webkit-transform:scale3d(.97,.97,.97);transform:scale3d(.97,.97,.97)}to{opacity:1;-webkit-transform:scale3d(1,1,1);transform:scale3d(1,1,1)}}
@keyframes bounceIn{from,20%,40%,60%,80%,to{-webkit-animation-timing-function:cubic-bezier(0.215,0.610,0.355,1.000);animation-timing-function:cubic-bezier(0.215,0.610,0.355,1.000)}0%{opacity:0;-webkit-transform:scale3d(.3,.3,.3);transform:scale3d(.3,.3,.3)}20%{-webkit-transform:scale3d(1.1,1.1,1.1);transform:scale3d(1.1,1.1,1.1)}40%{-webkit-transform:scale3d(.9,.9,.9);transform:scale3d(.9,.9,.9)}60%{opacity:1;-webkit-transform:scale3d(1.03,1.03,1.03);transform:scale3d(1.03,1.03,1.03)}80%{-webkit-transform:scale3d(.97,.97,.97);transform:scale3d(.97,.97,.97)}to{opacity:1;-webkit-transform:scale3d(1,1,1);transform:scale3d(1,1,1)}}
.bounceIn{-webkit-animation-name:bounceIn;animation-name:bounceIn;}

.swing{-webkit-animation:swinging 3s ease-in-out 0s infinite;animation:swinging 3s ease-in-out 0s infinite;-webkit-transform-origin:50% 50%;transform-origin:50% 50%}
@-webkit-keyframes swinging{0%{transform:rotate(0)}5%{transform:rotate(10deg)}10%{transform:rotate(-9deg)}15%{transform:rotate(8deg)}20%{transform:rotate(-7deg)}25%{transform:rotate(6deg)}30%{transform:rotate(-5deg)}35%{transform:rotate(4deg)}40%{transform:rotate(-3deg)}45%{transform:rotate(2deg)}50%{transform:rotate(0)}100%{transform:rotate(0)}}
@keyframes swinging{0%{transform:rotate(0)}5%{transform:rotate(10deg)}10%{transform:rotate(-9deg)}15%{transform:rotate(8deg)}20%{transform:rotate(-7deg)}25%{transform:rotate(6deg)}30%{transform:rotate(-5deg)}35%{transform:rotate(4deg)}40%{transform:rotate(-3deg)}45%{transform:rotate(2deg)}50%{transform:rotate(0)}100%{transform:rotate(0)}}




/*地位*/
.por{position: relative;}
.poa{ position: absolute; }
.fl{float:left;}

.db{display: block;}
.dib{display: inline-block;}
.tac{text-align: center;}
.taj{text-align: justify;}
.fb{font-weight: bold;}
.mlra{margin-left: auto;margin-right: auto;}

.rq{width: 1000px;}
.banner{ background:url(img/banner.jpg) no-repeat top center; height: 512px; width:100%;}
.baa{background:url(img/banner_xd.png) no-repeat top center; width: 399px; height: 256px; left: 110px; top: 31px; }
.cp{ background:url(img/cp.png); width:108px; height:128px;top:310px;}
.ba1{ background-position: 0 0; left:0px; }
.ba2{ background-position: -108px 0; left:128px; }
.ba3{ background-position: -216px 0; left:256px; }
.ba4{ background-position: -324px 0; left:384px; }
.ba5{ background-position: -432px 0; left:512px; }

.wt{ background:url(img/wt.png);}
.zx1{background-position: -477px -78px;	width: 211px;height: 44px; top:455px; left:220px;}
.zx2{background-position: 0 -33px;width: 633px;height: 39px;}
.zx3{background-position: 0 -186px;width: 480px;height: 39px;}
.zx4{background-position: 0 -134px;width: 435px;height: 39px;}
.zx5{background-position: 0 -81px;width: 435px;height: 39px;}
.zx6{background-position: 0 -237px;width: 485px;height: 39px;}
.zx7{background-position: 0 -289px;width: 547px;height: 39px;}
.zx8{background-position: 0 -337px;width: 637px;height: 63px;}

/*字体大小*/
.fz100{font-size: 100px; padding-top:200px;}
.fz40{font-size: 40px;}
.fz26{font-size: 26px;}
.fz24{font-size: 24px;}
.fz20{font-size: 20px;}
.fz18{font-size: 18px;}
.fz16{font-size: 16px;}
.fz14{font-size: 14px;}

.lh30{line-height: 30px;}
.lh26{line-height: 26px;}

/*字体颜色*/
.cl-baise{color: #fff;}
.cl-heise{color: #000;}
.cl-lanse{color: #0056bf;}
.cl-huise{color: #c7c7c7;}
.cl-huise2{color: #535353;}


/*背景色*/
.bj-heise{ background-color: #000;}
.bj-lanse{ background-color: #0056bf;}
.bj-huise{background-color: #d7d7d7;}

/*内边距*/
.pt40{padding-top: 40px;}
.pb40{padding-bottom: 40px;}
.pt20{padding-top: 20px;}
.pb20{padding-bottom: 20px;}
.pl20{padding-left: 20px;}
.pr20{padding-right: 20px;}
.pt10{padding-top: 10px;}
.pb10{padding-bottom: 10px;}
/*外边距*/
.ml20{margin-left: 20px;}

/*虚线*/
.brxue1{ border-bottom:2px dashed #fff}
.brxue2{ border-bottom:2px dashed #000}

/*实线*/
.brshi1{ border:1px solid #fff;}
.brshi2{ border:1px solid #0056bf;}
/**/
.box1a{background-position: 0 0; width: 564px;height: 28px;}
.box1b{ background:url(img/box1_2.png) no-repeat 0 50%;width: 977px;height: 279px;}
.qk{top:10px; left:680px;}

.box3a,.box3c{width: 400px;} 
.box3b{width: 200px;}

#box4ul1{ width:100%}
#box4ul1 li{ float:left; width: 33%; margin-right:0.5%;  background-color: #0056bf;  cursor: pointer; text-align: center;font-size: 24px; color:#fff; padding:10px 0}
#box4ul1 li:last-child{ margin-right:0;}
#box4ul1 li.gaoliang{  background-color: #bebebe; color:#000;}
#box4ul2 li{ display:none; background:#e0e0e0; width: 996px;border:2px solid #bebebe;}

.box4a{ width:478px; }
.box4b{ width:462px; }

.box5ul li{ width: 314px; margin-left:11px; margin-right:7px;}
.box6ul li{ width:190px; height:330px; margin-left:10px;}

.box6a1{ bottom:10px; width:90%; left:8px;}

.box7{ width:1440px;}

.box7a{ background:url(img/box5_1.jpg) no-repeat top center; width:1440px; height:603px;}
.box7b{ background:url(img/box5_2.jpg) no-repeat top center; width:1440px; height:603px;}

.prev-no-style3,.next-no-style3{ position:absolute;  bottom:32%;  z-index:999; background:#fff; border:none; font-size: 70px;}
.prev-no-style3{ left:0;}
.next-no-style3{ right:0;}

.box7aq1,.box7aq2,.box7aq3{width: 170px;height: 46px;top: 476px; }
.box7aq1{  left: 277px; }
.box7aq2{  left: 274px; }
.box7aq3{  left: 467px; }
