@charset "utf-8";
/*去除默认样式*/
body,dl,dt,dd,ul,ol,li,table,tr,td,form,input,select,textarea,blockquote,h1,h2,p,img,a,em{ margin:0; padding:0; outline:0; border:0; list-style:none; text-decoration:none; font-style:normal; font-weight: normal; border-collapse:collapse;border-spacing:0;font-family:"微软雅黑";}

/*清除浮动*/
.clearfix:after {visibility: hidden; display: block; clear: both; content:" "; font-size: 0; height: 0;}
.clearfix{*zoom:1;}

/*元素状态*/
.dn{display: none;}
.db{display: block;}
.dib{display: inline-block; *display: inline; *zoom: 1; }
.dt{display: table;}
.dtc{display: table-cell;}

/*元素可见性*/
.vh{visibility: hidden;}
.vv{visibility: visible;}

/*块状定位*/
.mlra{margin-left: auto;margin-right: auto;}
.por{position: relative;}
.poa{position: absolute; }
.fl{float: left;}
.fr{float: right;}

/*内联定位*/
.vam{vertical-align: middle;}
.vatb{vertical-align: text-bottom;}
.vatt{vertical-align: text-top;}

/*字体排版*/
.tac{text-align: center;}
.tal{text-align: left;}
.tar{text-align: right;}
.taj{text-align: justify;}

/*字体样式*/
.fwb{font-weight: bold;}
.fsi{font-style: italic;}

/*字体行高*/
.lh{line-height: 100%;}
.lh150{line-height: 150%;}
.lh200{line-height: 200%;}

/*背景定位*/
.bgptc{background-position: top center;}
.bgrn{ background-repeat: no-repeat;}

/*------------------------------------------------*/

.banner{background-image: url(img/banner.png); width:100%; height:1350px;}
.rq{ width:1300px;}
.rq2{ width:1000px;}
.bnl{ left:0; top:0}
.bnr{ right:0; top:0}

/*动画模块*/
.swing{-webkit-animation:swinging 10s ease-in-out 0s infinite;    animation:swinging 10s ease-in-out 0s infinite;    -webkit-transform-origin:50% 0;    transform-origin:50% 0;}
.swyc1{ animation-delay:.2s; -webkit-animation-delay:.2s;}
.swyc2{ animation-delay:.6s; -webkit-animation-delay:.6s;}
@keyframes swinging{0% { transform: rotate(0); }5% { transform: rotate(10deg); }10% { transform: rotate(-9deg); }15% { transform: rotate(8deg); }20% { transform: rotate(-7deg); }25% { transform: rotate(6deg); }30% { transform: rotate(-5deg); }35% { transform: rotate(4deg); }40% { transform: rotate(-3deg); }45% { transform: rotate(2deg); }50% { transform: rotate(0); } 100% { transform: rotate(0); }}

.animated {  -webkit-animation-duration: 1s;  animation-duration: 1s;  -webkit-animation-fill-mode: both;  animation-fill-mode: both;}
.animated.infinite {  -webkit-animation-iteration-count: infinite;  animation-iteration-count: infinite;}
.animated.bounceIn{  -webkit-animation-duration: .75s;  animation-duration: .75s; }
.biyc1{animation-delay:1.5s; -webkit-animation-delay:1.5s;}
.biyc2{animation-delay:2s; -webkit-animation-delay:2s;}
.biyc3{animation-delay:2.5s; -webkit-animation-delay:2.5s; }
.biyc4{animation-delay:3s; -webkit-animation-delay:3s; }
@keyframes bounceIn{from,20%,40%,60%,80%,to{-webkit-animation-timing-function:cubic-bezier(0.215,0.610,0.355,1.000);animation-timing-function:cubic-bezier(0.215,0.610,0.355,1.000)}0%{opacity:0;-webkit-transform:scale3d(.3,.3,.3);transform:scale3d(.3,.3,.3)}20%{-webkit-transform:scale3d(1.1,1.1,1.1);transform:scale3d(1.1,1.1,1.1)}40%{-webkit-transform:scale3d(.9,.9,.9);transform:scale3d(.9,.9,.9)}60%{opacity:1;-webkit-transform:scale3d(1.03,1.03,1.03);transform:scale3d(1.03,1.03,1.03)}80%{-webkit-transform:scale3d(.97,.97,.97);transform:scale3d(.97,.97,.97)}to{opacity:1;-webkit-transform:scale3d(1,1,1);transform:scale3d(1,1,1)}}
.bounceIn{-webkit-animation-name:bounceIn;animation-name:bounceIn;}

.bnc{ background:url(img/banner_dh1.png); height:599px; width:1126px}
.bnc2{background:url(img/banner_dh2.png); height:378px; width:1056px; left:135px; top:120px; z-index:2;}
.bnc3{background:url(img/banner_dh3.png); width:180px; height:178px; right:234px; top:51px; z-index:3;}
.bnca{ top:520px; left:440px; width:251px; height:58px;z-index:4;}

.hvr-float-shadow{display:inline-block;vertical-align:middle;-webkit-transform:translateZ(0);transform:translateZ(0);box-shadow:0 0 1px rgba(0,0,0,0);-webkit-backface-visibility:hidden;backface-visibility:hidden;-moz-osx-font-smoothing:grayscale;position:relative;-webkit-transition-duration:.3s;transition-duration:.3s;-webkit-transition-property:transform;transition-property:transform}.hvr-float-shadow:before{pointer-events:none;position:absolute;z-index:-1;content:'';top:100%;left:5%;height:10px;width:90%;opacity:0;background:-webkit-radial-gradient(center,ellipse,rgba(0,0,0,0.35) 0,rgba(0,0,0,0) 80%);background:radial-gradient(ellipse at center,rgba(0,0,0,0.35) 0,rgba(0,0,0,0) 80%);-webkit-transition-duration:.3s;transition-duration:.3s;-webkit-transition-property:transform,opacity;transition-property:transform,opacity}.hvr-float-shadow:hover,.hvr-float-shadow:focus,.hvr-float-shadow:active{-webkit-transform:translateY(-5px);transform:translateY(-5px)}.hvr-float-shadow:hover:before,.hvr-float-shadow:focus:before,.hvr-float-shadow:active:before{opacity:1;-webkit-transform:translateY(5px);transform:translateY(5px)}



/*字体颜色*/
.cl-hongse{ color:#dc1e1e;}
.cl-baise{ color:#fff;}
.cl-heise{ color:#000;}

/*字体大小*/
.fz66{font-size: 66px;}
.fz48{font-size: 48px;}
.fz36{font-size: 36px;}
.fz30{font-size: 30px;}
.fz24{font-size: 24px;}
.fz20{font-size: 20px;}
.fz18{font-size: 18px;}
.fz12{font-size: 12px;}
.fz0{font-size: 0;}

/*圆角*/
.br50{ border-radius:50px;}

/*背景色*/
.bj-hongse{ background-color: #dc1e1e;}
.bj-huangse{background-color: #ffc52d;}
.bj-baise{background-color: #fff;}
.bj-chengse{ background-color: #e75223;}

/*内边距*/
.pt340{padding-top: 340px;}
.pt40{padding-top: 40px;}
.pb40{padding-bottom: 40px;}
.pt10{padding-top: 10px;}
.pb10{padding-bottom: 10px;}
.pl20{padding-left: 20px;}
.pr20{padding-right: 20px;}
.pl22{padding-left: 22px;}
.pr22{padding-right: 22px;}


/*外边距*/
.mt60{margin-top: 60px;}
.mb40{margin-bottom: 40px;}
.mb10{margin-bottom: 10px;}
.mt20{margin-top: 20px;}
.mt10{margin-top: 10px;}
.mt16{margin-top: 16px;}
.mr17{margin-right: 17px;}
.mr19{margin-right: 19px;}


/*专题模块样式*/
.box1a{background-image: url(img/box1_2.png);width: 1027px;height: 212px;}
.box1aa{width: 147px;height: 147px; right:50px; top:20px;}
.box2p div{ width: 238px;height: 613px; margin-right:16px;margin:0 6px\9;}
.box2p div:last-child{ margin-right:0}
.box2s1{background-image: url(img/box1_3.png);}
.box2s2{background-image: url(img/box1_4.png);}
.box2s3{background-image: url(img/box1_5.png);}
.box2s4{background-image: url(img/box1_6.png);}
.box2pp div{ width: 322px;height: 219px; margin-top:5px;}
.box2s5{background-image: url(img/box2_1.png);}
.box2s6{background-image: url(img/box2_2.png);}
.box2s7{background-image: url(img/box2_3.png);}

.box2pp span{right:20px; bottom:15px;}
.box2pp a{ width: 150px;height: 40px; }

#box5ul1{ width:100%}
#box5ul1 li{ float:left; width: 195px; height:132px;  cursor: pointer;  margin:10px 2px 3px 3px;}
#box5ul1 li.gaoliang{background-position: 0 -132px;}
#box5li1{ background:url(img/box4_d1.png) no-repeat top center;}
#box5li2{ background:url(img/box4_d2.png) no-repeat top center;}
#box5li3{ background:url(img/box4_d3.png) no-repeat top center;}
#box5li4{ background:url(img/box4_d4.png) no-repeat top center;}
#box5li5{ background:url(img/box4_d5.png) no-repeat top center;}

#box5ul2 li{ display:none;}
.hrge{ font-size: 0; height:2px; background:rgba(0,59,163,1.00); border:0; margin:10px 0;}

.box3a{ background:url(img/zj.jpg) no-repeat top center; height:656px;}
.box3ak{ margin-top: 150px;  margin-left:500px;}



	